<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Synth.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <Synth.UI.Properties.Settings>
            <setting name="HansenReportingServer" serializeAs="String">
                <value>BESREPORTS</value>
            </setting>
            <setting name="GetSanitaryPipesUSPName" serializeAs="String">
                <value>dbo.USP_SYNTH_GET_SANITARY_PIPES</value>
            </setting>
            <setting name="GetStormDitchesUSPName" serializeAs="String">
                <value>dbo.USP_SYNTH_GET_STORM_DITCHES</value>
            </setting>
            <setting name="GetStormPipesUSPName" serializeAs="String">
                <value>dbo.USP_SYNTH_GET_STORM_PIPES</value>
            </setting>
            <setting name="MasterNodesFile" serializeAs="String">
                <value>\\CASSIO\Modeling\SAMaster_22\Nodes\mst_nodes_ac.mdb</value>
            </setting>
            <setting name="MasterLinksFile" serializeAs="String">
                <value>\\CASSIO\Modeling\SAMaster_22\Links\mst_links_ac.mdb</value>
            </setting>
            <setting name="AddressName" serializeAs="String">
                <value>\\CASSIO\Modeling\AGTools\reconcile\ADDRESS_GEOCODED.csv</value>
            </setting>
            <setting name="StoredProcsDB" serializeAs="String">
                <value>ASM_REPORTS</value>
            </setting>
            <setting name="LogFile" serializeAs="String">
                <value>synth.log</value>
            </setting>
            <setting name="SynthFile" serializeAs="String">
                <value />
            </setting>
            <setting name="LastDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="DifferencesFile" serializeAs="String">
                <value />
            </setting>
            <setting name="LogSeverity" serializeAs="String">
                <value>Info</value>
            </setting>
        </Synth.UI.Properties.Settings>
    </userSettings>
</configuration>